body {
    background: #666;
    height: 100%;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1 {
    color: #fff;
}
.time {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    color: #fff;
    text-shadow: 5px 5px 5px #000;
}
.startTime_btn {
    font-size: 40px;
    padding: 20px;
    border-radius: 30px;
    background-color: #ffe4b5;
    box-shadow: 0 0 15px #fff;
}